{% extends 'manager/base.html' %}
{% block content %}
<!---
<div class="container py-4">
    <header class="pb-3 mb-4 border-bottom">
        <div class="text-center">
            <img src="https://lh3.googleusercontent.com/pw/AJFCJaWio6y44k_K-RM8iHodzmWwpd6ywJtBVwjvxM4wKlPfATeFdbXdLbEpHD6gKqNk7Dub1oMa39xkp4h4ps0lUEV_UGgA0HA6oapGt9YsZmUSNarnluzHv-ct3za_J-9PCUOMMyBVG8DRY1Kxsf2S9n8=w1000-h623-s-no?authuser=0" height="100">
            </div>
            
    </header>
  -->
    <div class="p-5 mb-4 bg-body-tertiary rounded-3 border">
      <div class="container-fluid py-5">
        <h1 class="display-5 fw-bold">אירועים אחרונים</h1>
        <p class="col-md-8 fs-4">כאן תופיע רשימה האירועים האחרונים של המטופלים שלך</p>
        <button class="btn btn-primary btn-lg" type="button">לרשימה המלאה</button>
      </div>
    </div>

    <div class="row align-items-md-stretch">
      <div class="col-md-6">
        <div class="h-100 p-5 bg-body-tertiary border rounded-3">
            <h2>קביעת תור חדש למטופל</h2>
            <p>כאן ניתן יהיה לקבוע תורים למטופלים, עוד אפשרות תהיה לעשות זאת דרך היומן</p>
            <button class="btn btn-outline-secondary" type="button">לקביעת תור חדש</button>
          </div>
      </div>
      <div class="col-md-6">
        <div class="h-100 p-5 bg-body-tertiary border rounded-3">
          <h2>שיעורי בית</h2>
          <p>כאן ניתן יהיה לשלוח ולעקוב אחרי שיעורי הבית של המטופלים</p>
          <button class="btn btn-outline-secondary" type="button">לדף שיעורי הבית</button>
        </div>
      </div>
    </div>

    <footer class="pt-3 mt-4 text-body-secondary border-top">
      © גיל ונטורה
    </footer>
  </div>



{% endblock %}