{% extends 'manager/base.html' %}
{% load crispy_forms_tags %}
{% block content %}

<div class="container d-flex justify-content-center align-items-center" style="min-height: 100vh;">
  <div class="card" style="width: 35rem;">
    <div class="card-header text-center">
      שאלון הכירות
    </div>
    <div class="card-body text-center">
      <h5 class="card-title">מלאו במהירות את הרשימות הבאות. הניסוחים כתובים בלשון זכר אבל מתייחסים גם לבעלות כרומוזומים XX</h5>
      <form method="post">
        {% csrf_token %}

        <div class="row card mb-3">
          <div class="card-header">
            {{ form.question_1 }}
          </div>
          <table class="table">
            <tbody dir="rtl">
            <tr><td>1.</td><td> {{ form.input_1_1 }}</td></tr>
              <tr><td>2.</td><td> {{ form.input_1_2 }}</td></tr>
              <tr><td>3.</td><td> {{ form.input_1_3 }}</td></tr>
              <tr><td>4.</td><td> {{ form.input_1_4 }}</td></tr>
            </tbody>
          </table>
        </div>

        <div class="row card mb-3">
          <div class="card-header">
            {{ form.question_2 }}
          </div>
          <table class="table">
            <tbody>
              <tr><td>1.</td><td> {{ form.input_2_1 }}</td></tr>
              <tr><td>2.</td><td> {{ form.input_2_2 }}</td></tr>
              <tr><td>3.</td><td> {{ form.input_2_3 }}</td></tr>
              <tr><td>4.</td><td> {{ form.input_2_4 }}</td></tr>
            </tbody>
          </table>
        </div>

        <div class="row card mb-3">
          <div class="card-header">
            {{ form.question_3 }}
          </div>
          <table class="table">
            <tbody>
              <tr><td>1.</td><td> {{ form.input_3_1 }}</td></tr>
              <tr><td>2.</td><td> {{ form.input_3_2 }}</td></tr>
              <tr><td>3.</td><td> {{ form.input_3_3 }}</td></tr>
            </tbody>
          </table>
        </div>

        <div class="row card mb-3">
          <div class="card-header">
            {{ form.question_4 }}
          </div>
          <table class="table">
            <tbody>
              <tr><td>1.</td><td> {{ form.input_4_1 }}</td></tr>
              <tr><td>2.</td><td> {{ form.input_4_2 }}</td></tr>
              <tr><td>3.</td><td> {{ form.input_4_3 }}</td></tr>
            </tbody>
          </table>
        </div>

        <button type="submit" class="btn btn-primary rounded-pill">Next</button>
      </form>
    </div>
  </div>
</div>

{% if form.errors %}
<ul class="errorlist">
    {% for field, errors in form.errors.items %}
        <li>{{ field }}:
            {% for error in errors %}{{ error }}{% if not forloop.last %}, {% endif %}{% endfor %}
        </li>
    {% endfor %}
</ul>
{% endif %}

{% endblock %}
