{% extends 'manager/base.html' %}
{% load crispy_forms_tags %}
{% block content %}

<div class="container d-flex justify-content-center align-items-center" style="min-height: 100vh;">
  <div class="card" style="width: 35rem;">
    <div class="card-header text-center">
      חלק שני - מסע אל העבר
    </div>
    <div class="card-body text-center">
      <h5 class="card-title">כעת, "הפליגו" בזכרונכם שנתיים אחורה. נסו להיזכר מה היתה אז הסיטואציה בחייכם, ואילו גורמים טובים ורעים, פנימיים וחיצוניים, איפיינו את התקופה הזו. כעת, מלאו שוב את שתי הרשימות הראשונות [הן מוצגות כאן שוב, לנוחותכם], אבל כעת נסו למלא אותן כפי שהייתם ממלאים אותם לפני שנתיים. תוכלו לחזור על תשובות שכבר נתתם [כלומר דברים שהיו רלבנטיים גם אז ונותרו רלבנטיים היום], או לייצר תשובות אחרות, שאולי היו אופייניות לכם בתקופה הקודמת</h5>
      <form method="post">
        {% csrf_token %}
        <div class="row card mb-3 mt-5">
          <div class="card-header">
            {{ form.question_1 }}
          </div>
          <table class="table">
            <tbody dir="rtl">
            <tr><td>1.</td><td> {{ form.input_1_1 }}</td></tr>
              <tr><td>2.</td><td> {{ form.input_1_2 }}</td></tr>
              <tr><td>3.</td><td> {{ form.input_1_3 }}</td></tr>
              <tr><td>4.</td><td> {{ form.input_1_4 }}</td></tr>
            </tbody>
          </table>
        </div>

        <div class="row card mb-3">
          <div class="card-header">
            {{ form.question_2 }}
          </div>
          <table class="table">
            <tbody>
              <tr><td>1.</td><td> {{ form.input_2_1 }}</td></tr>
              <tr><td>2.</td><td> {{ form.input_2_2 }}</td></tr>
              <tr><td>3.</td><td> {{ form.input_2_3 }}</td></tr>
              <tr><td>4.</td><td> {{ form.input_2_4 }}</td></tr>
            </tbody>
          </table>
        </div>

        <button type="submit" class="btn btn-primary rounded-pill">סיום</button>
      </form>
    </div>
  </div>
</div>

{% endblock %}
