{% extends 'manager/base.html' %}
{% load crispy_forms_tags %}
{% block content %}
<div class="container">
    <div class="row">
        <div class="col-md-8 offset-md-2">
            <h1 class="mb-4">שאלון {{ questionnaire.title }}</h1>
            <h5 class="mb-4">{{ questionnaire.description }}</h5>
            <h6 class="mb-4">שולח: {{ questionnaire.creator.first_name }}</h6>

            <form method="post" class="needs-validation text-end" novalidate>
              {% csrf_token %}
              {% for field in form %}
              <div class="form-group">
                  <label for="{{ field.auto_id }}">{{ field.label }}</label>
                  {% if field.field.widget.input_type == 'radio' %}
                  <div class="form-check ">
                      {{ field }}
                  </div>
                  {% else %}
                      {{ field }}
                  {% endif %}
              </div>
              {% endfor %}
              <button type="submit" class="btn btn-primary">שלח</button>
          </form>
          
          
          
          
        
        </div>
    </div>
</div>
{% endblock %}
