{% extends 'manager/base.html' %}

{% block title %}Questionnaires List{% endblock %}

{% block content %}
<nav class="navbar navbar-expand-lg bg-body-tertiary">
    <div class="container-fluid">
        <a class="navbar-brand" href="#"><a href="{% url 'surveys:questionnaire_create' %}" class="btn btn-primary my-2 my-lg-0"><b>+</b> צור שאלון חדש </a></a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                <li class="nav-item">
                    <form class="d-flex" role="search">
                        <input class="form-control me-2" type="search" placeholder="חפש שאלון" aria-label="Search" spellcheck="false" data-ms-editor="true" name="q" type="search" placeholder="Search" aria-label="Search" value="{% if search_query %}{{ search_query }}{% endif %}">
                        <button class="btn btn-outline-success" type="submit">חיפוש</button>
                    </form>
                </li>
            </ul>
        </div>
    </div>
</nav>

<div class="container">
    <h1 class="mb-4">רשימת שאלונים</h1>
    <ul class="list-group">
        {% for questionnaire in questionnaires %}
            <li class="list-group-item d-flex justify-content-between align-items-center">
                <a clastype="button"s data-bs-toggle="popover" data-bs-title="{{ questionnaire.title }}" data-bs-content="{{ questionnaire.description }}">{{ questionnaire.title }}</a>
                <a href="{% url 'surveys:obj_list' questionnaire.pk %}" class="btn btn-primary">תוכן השאלון</a>
                <small>נוצר בתאריך {{ questionnaire.created|date:"d-m-y" }}</small>
                <div class="btn-group btn-group-sm" role="group" dir="ltr" aria-label="Questionnaire actions">
                    <a href="{% url 'surveys:questionnaire_delete' questionnaire.pk %}" class="btn btn-danger">מחק</a>
                    <a href="{% url 'surveys:questionnaire_update' questionnaire.pk %}" class="btn btn-success">ערוך כותרת</a>
                    <a href="{% url 'surveys:answer_create' questionnaire.pk %}" class="btn btn-warning">צפה כאורח</a>
                </div>
            </li>
        {% empty %}
            <li class="list-group-item">לא נמצאו שאלונים</li>
        {% endfor %}
    </ul>
</div>
{% endblock %}

