{% extends 'manager/base.html' %}

{% block title %}Delete Questionnaire{% endblock %}

{% block content %}
    <div class="container mt-5">
        <div class="row">
            <div class="col">
                <h1>מחיקת שאלון</h1>
                <p>האם אתה בטוח שברצונך למחוק את שאלון -  "{{ object.title }}"?</p>
                <form method="post" class="d-inline">
                    {% csrf_token %}
                    <button type="submit" class="btn btn-danger">כן, מחק</button>
                </form>
                <a href="{% url 'surveys:questionnaire_list' %}" class="btn btn-secondary ml-2">ביטול</a>
            </div>
        </div>
    </div>
{% endblock %}
