{% extends 'manager/base.html' %}
{% load crispy_forms_tags %}
{% block content %}
    {% if obj %}
        <h1>ערוך</h1>
        {% if obj.parent %}<p>מקושר ל: {{ obj.parent }}</p>{% endif %}
    {% else %}
        <h1>שאלה חדשה</h1>
    {% endif %}
    <div class="card mt-5" dir="rtl">
        <div class="card-body">
            <form method="post">
                {% csrf_token %}
                {{ form|crispy}}
                <div class="btn-group" role="group" aria-label="Basic outlined" dir="ltr">
                    {% if obj %}
                        <a id="cancel-back" href="{% url 'surveys:obj_list' questionnaire_id %}?page={{ paginator.num_pages }}" class="btn btn-outline-danger">חזרה</a>
                        <button id="save-return" type="submit" name="done" class="btn btn-outline-primary">שמירה וחזרה לתוכן השאלון</button>
                    {% else %}
                        <a id="cancel-back" href="{% url 'surveys:obj_list' questionnaire_id %}?page={{ paginator.num_pages }}" class="btn btn-outline-danger">חזרה</a>
                        <button id="save-more" type="submit" name="more" class="btn btn-outline-success">שמירה ויצירת שאלה נוספת</button>
                        <button id="save-return" type="submit" name="done" class="btn btn-outline-primary">שמירה וחזרה לתוכן השאלון</button>
                    {% endif %}
                </div>
            </form>
        </div>
    </div>
{% endblock %}