{% extends 'users/base.html' %}

{% block user_content %}

<div class="card mt-5" dir="rtl">
    <div class="card-header text-center">
        <img src="https://lh3.googleusercontent.com/pw/AIL4fc-ECkj1QHnuBUKRTZrjPR6RBC4ZQKoSBRyAzYRWhNvRf5Sm7pSlBqoYWE0pAAVdlXFNOUEmoKX9s1O2PG5V9vTwJdFzvT19ZBnV4R05jB5QMExeQzl4Z8P013BUsIEvit4WEnCsfEMeQd_KdFO8cGE=w1000-h623-s-no?authuser=0" alt="Logo" height="100">
    </div>
    <div class="card-body">
        <h5 class="text-center mb-3">התחברות</h5>
        <form method="POST">
            {% csrf_token %}
            <div class="mb-3">
                <input type="text" class="form-control" id="username" name="username" placeholder="שם משתמש" required>
            </div>
            <div class="mb-3">
                <input type="password" class="form-control" id="password" name="password" placeholder="סיסמה" required>
            </div>
            <div class="d-grid">
                <button type="submit" class="btn btn-primary">התחברות</button>
            </div>
            <p class="text-center mt-3">
                עדיין אין לך משתמש?  <a href="{% url 'register' %}">הרשמה</a>
            </p>
        </form>
    </div>
</div>

{% endblock %}
