{% extends 'manager/base.html' %}

{% block content %}

<div class="container-fluid">
  <h1 class="my-4">שאלונים</h1>
  <a href="{% url 'questionnaires:questionnaire_create' %}" class="btn btn-primary mb-3">צור שאלון חדש</a>
  <table class="table table-striped">
    <thead>
      <tr>
        <th scope="col">#</th>
        <th scope="col">כותרת</th>
      </tr>
    </thead>
    <tbody>
      {% for questionnaire in questionnaires %}
      <tr>
        <th scope="row">{{ forloop.counter }}</th>
        <td><a href="{% url 'questionnaires:questionnaire_detail' questionnaire.id %}">{{ questionnaire.title }}</a></td>
      </tr>
      {% empty %}
      <tr>
        <td colspan="2">אין שאלונים זמינים.</td>
      </tr>
      {% endfor %}
    </tbody>
  </table>
</div>

{% endblock %}
