{% extends 'manager/base.html' %}
{% load crispy_forms_tags %}

{% block content %}

<h1>יצירת שאלון חדש</h1>
<div class="container">
  <form method="post">
    {% csrf_token %}
    {{ form|crispy }}

    <h3>מקבץ שאלות:</h3>
    {{ form.question_files.management_form }}
    <div id="formset-wrapper">
      {% for form in form.question_files %}
        <div class="formset-item">
          <h4>מסוג: {{ form.file_type }}</h4>
          {{ form.title }}
          {{ form.explanation }}
          <h4>שאלות:</h4>
          {{ form.questions.management_form }}
          <div class="questionset-wrapper">
            {% for question_form in form.questions %}
              {{ question_form.question_text }}
            {% endfor %}
          </div>
        </div>
      {% endfor %}
    </div>
    <button type="button" id="add-more" class="btn btn-secondary">הוסף מקבץ שאלות נוסף</button>

    <button type="submit" class="btn btn-primary">צור שאלון</button>
  </form>
</div>

<script>
document.addEventListener("DOMContentLoaded", function () {
    const addButton = document.getElementById("add-more");
    const formsetContainer = document.querySelector("#id_question_files-TOTAL_FORMS");

    let formsetCount = {{ form.question_files.management_form.total_form_count }};

    addButton.addEventListener("click", function () {
        const template = document.getElementById("form-template").innerHTML;
        const formsetItem = template.replace(/__prefix__/g, formsetCount);
        formsetContainer.setAttribute("value", formsetCount + 1);
        document.querySelector("#formset-wrapper").insertAdjacentHTML("beforeend", formsetItem);
        formsetCount++;
    });
});
</script>

<!-- הטופס הנסתר למקבץ השאלות -->
<div id="form-template" style="display: none">
    {{ form.question_files.empty_form.as_p }}
</div>

{% endblock %}
